* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v120_2 {
  width: 1440px;
  height: 6106px;
  background: rgba(59,12,1,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_38 {
  width: 1440px;
  height: 1024px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_39 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: relative;
  top: -200px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_40 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: 1220px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_41 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 1184px;
  border-radius: 50%;
}
.v119_42 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: -250px;
  border-radius: 50%;
}
.v119_43 {
  width: 720px;
  height: 410px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 695px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_44 {
  width: 730px;
  height: 70px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 690px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_45 {
  width: 965px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 170px;
  left: 285px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: IBM Plex Serif;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v119_46 {
  width: 940px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 320px;
  left: 700px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v119_47 {
  width: 593px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 384px;
  left: 720px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v119_48 {
  width: 639px;
  height: 410px;
  background: url("C:\Users\Admin\OneDrive\Desktop\Ciro Esposito\colazioni\images\10-colazioni-nel-mondo 1 - Copia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 21px;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  overflow: hidden;
}
.v119_49 {
  width: 277px;
  height: 296px;
  background: url("../images/v119_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 972px;
  overflow: hidden;
}
.v119_50 {
  width: 214px;
  height: 308px;
  background: url("../images/v119_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 536px;
  overflow: hidden;
}
.v119_51 {
  width: 1440px;
  height: 1024px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 1214px;
  left: 0px;
  overflow: hidden;
}
.v119_52 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_53 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -220px;
  left: 1220px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_54 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 1184px;
  border-radius: 50%;
}
.v119_55 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: -250px;
  border-radius: 50%;
}
.v119_56 {
  width: 504px;
  height: 160px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 646px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-left-radius: 51px;
  border-bottom-right-radius: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_57 {
  width: 340px;
  height: 570px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 728px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_58 {
  width: 658px;
  height: 490px;
  background: url("C:\Users\Admin\OneDrive\Desktop\Ciro Esposito\colazioni\images\colazione-nel-mondo-thailandia 1 - Copia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 20px;
  border-top-left-radius: 320px;
  border-top-right-radius: 320px;
  border-bottom-left-radius: 320px;
  border-bottom-right-radius: 320px;
  overflow: hidden;
}
.v119_59 {
  width: 309px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 378px;
  left: 743px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v119_60 {
  width: 463px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 198px;
  left: 668px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: IBM Plex Serif;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v119_61 {
  width: 257px;
  height: 200px;
  background: url("../images/v119_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 64px;
  overflow: hidden;
}
.v119_62 {
  width: 300px;
  height: 300px;
  background: url("../images/v119_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 1302px;
  overflow: hidden;
}
.v119_63 {
  width: 300px;
  height: 300px;
  background: url("../images/v119_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 1302px;
  overflow: hidden;
}
.v119_64 {
  width: 1440px;
  height: 1024px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 2428px;
  left: 0px;
  overflow: hidden;
}
.v119_65 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_66 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: 1220px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_67 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 1184px;
  border-radius: 50%;
}
.v119_68 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: -250px;
  border-radius: 50%;
}
.v119_69 {
  width: 658px;
  height: 489px;
  background: url("C:\Users\Admin\OneDrive\Desktop\Ciro Esposito\colazioni\images\colazioni-nel-mondo-islanda 1 - Copia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 752px;
  border-top-left-radius: 320px;
  border-top-right-radius: 320px;
  border-bottom-left-radius: 320px;
  border-bottom-right-radius: 320px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_70 {
  width: 560px;
  height: 400px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 160px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_71 {
  width: 531px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 461px;
  left: 179px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v119_72 {
  width: 257px;
  height: 200px;
  background: url("../images/v119_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 80px;
  overflow: hidden;
}
.v119_73 {
  width: 300px;
  height: 300px;
  background: url("../images/v119_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 1328px;
  overflow: hidden;
}
.v119_74 {
  width: 504px;
  height: 160px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 190px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-left-radius: 51px;
  border-bottom-right-radius: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_75 {
  width: 491px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 321px;
  left: 196px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: IBM Plex Serif;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v119_76 {
  width: 1440px;
  height: 1024px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 3642px;
  left: 0px;
  overflow: hidden;
}
.v119_77 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_78 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -220px;
  left: 1220px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_79 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 1184px;
  border-radius: 50%;
}
.v119_80 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: -250px;
  border-radius: 50%;
}
.v119_81 {
  width: 430px;
  height: 400px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 740px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_82 {
  width: 658px;
  height: 489px;
  background: url("C:\Users\Admin\OneDrive\Desktop\Ciro Esposito\colazioni\images\colazione-nel-mondo-marocco 1 - Copia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 45px;
  border-top-left-radius: 320px;
  border-top-right-radius: 320px;
  border-bottom-left-radius: 320px;
  border-bottom-right-radius: 320px;
  overflow: hidden;
}
.v119_83 {
  width: 504px;
  height: 160px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 703px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-left-radius: 51px;
  border-bottom-right-radius: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_84 {
  width: 390px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 455px;
  left: 760px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v119_85 {
  width: 300px;
  height: 300px;
  background: url("../images/v119_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 1338px;
  overflow: hidden;
}
.v119_86 {
  width: 257px;
  height: 200px;
  background: url("../images/v119_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 64px;
  overflow: hidden;
}
.v119_87 {
  width: 502px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 308px;
  left: 711px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: IBM Plex Serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v119_88 {
  width: 1440px;
  height: 1024px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 4856px;
  left: 0px;
  overflow: hidden;
}
.v119_89 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -200px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_90 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: -220px;
  left: 1220px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v119_91 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: 1184px;
  border-radius: 50%;
}
.v119_92 {
  width: 512px;
  height: 470px;
  background: rgba(252,182,47,1);
  opacity: 1;
  position: absolute;
  top: 789px;
  left: -250px;
  border-radius: 50%;
}
.v119_93 {
  width: 446px;
  height: 320px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 154px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_94 {
  width: 504px;
  height: 160px;
  background: rgba(177,73,50,1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 126px;
  border-top-left-radius: 51px;
  border-top-right-radius: 51px;
  border-bottom-left-radius: 51px;
  border-bottom-right-radius: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v119_95 {
  width: 650px;
  height: 483px;
  background: url("C:\Users\Admin\OneDrive\Desktop\Ciro Esposito\colazioni\images\colazione-nel-mondo-danimarca 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 710px;
  border-top-left-radius: 320px;
  border-top-right-radius: 320px;
  border-bottom-left-radius: 320px;
  border-bottom-right-radius: 320px;
  overflow: hidden;
}
.v119_96 {
  width: 396px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 506px;
  left: 186px;
  font-family: IBM Plex Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v119_97 {
  width: 452px;
  color: rgba(252,182,47,1);
  position: absolute;
  top: 325px;
  left: 158px;
  font-family: IBM Plex Serif;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v119_98 {
  width: 300px;
  height: 300px;
  background: url("../images/v119_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 1338px;
  overflow: hidden;
}
.v119_99 {
  width: 257px;
  height: 200px;
  background: url("../images/v119_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 80px;
  overflow: hidden;
}
